*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: black;
    --secondary: rgb(255, 255, 255);
    --awesome: hsl(135, 53%, 37%, .7);
}
.container {
    margin-block: 20px;
    --numbOfRed: 123;
    --numbOfOrange: 100;
    --numbOfYellow: 18;
    border-width: 8px 8px;
    border-image: radial-gradient(120deg, var(--numbOfRed), var(--numbOfOrange), var(--numbOfYellow));
}
.container :is(#Paranormal, #Technology,#Cooking,#Romance), 
.button-wrapper {
    display: flex;
    gap: .10rem;
}
.container :is(#example2) {
    flex-flow: row wrap;
}
.item {
    display: grid;
    grid-template-rows: 20rem 1fr auto;
}
.item>img{
    width: 20rem;
    aspect-ratio: 1/1;
}
.button-wrapper {
    justify-content: space-between;
}
.button-wrapper button {
    border: 3px solid;
    border-image: linear-gradient( red, var(--awesome)) 11 fill;
}
body {
    text-align: center;
}
.button login {
    margin: 2px;
    padding: 4px;
    box-sizing: border-box;
    background: fixed;
}
.background {
    color:bisque
}